body {
    margin: 10px;
    background-color: rgb(226, 226, 226);
}

form {
    background-color: white;
    border-radius: 10px;
    height: 620px;
    overflow: auto;
}

img {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: space-between;
}

.first-bloc, .second-bloc {
    width: 35%;
}

p {
    font-weight: bold;
    color: rgb(71, 71, 71);
}

.buttons {
    display: flex;
    justify-content: space-around;
}

#search {
    background-color: rgb(43, 43, 43);
    border-color: gray;
}

#search:hover {
    background-color: gray;
}